<div class="col-lg-4 col-md-6 col-sm-12">
  <h3><%= link_to person.name, person_path(person) %></h3>
  <p>
    ID: <%= person.id %><br>
    Birth: <%= person.birth_year %><br>
    Eyes colour: <%= person.eye_color %><br>
    Mass: <%= person.mass %>
  </p>
</div>
