<div class="col-lg-4 col-md-6 col-sm-12">
  <h3><%= link_to planet.name, planet_path(planet) %></h3>
  <p>
    ID: <%= planet.id %><br>
    Gravity: <%= planet.gravity %><br>
    Climate: <%= planet.climate %><br>
    Population: <%= planet.population %>
  </p>
</div>
